<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tool Bar</title>
</head>

<body> 
    <!-- tool bar  -->
    <div class="container">
        <mat-toolbar color="primary">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span>My Bus Booking App</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>share</mat-icon>
            </button>
        </mat-toolbar>

    </div> 
<!-- division for the taking input of FROM city, TO city and Date  and searching bus detail   -->
    <div class=" container banner">
        <mat-card class="searchcard">
            <mat-card-content>
                <h1 style="padding: 10px; color:primary">Welcome to the vijay trip</h1>

                <!-- <label for="from">From</label> -->
                <mat-form-field appearance="fill">
                    <mat-label>From City</mat-label>
                    <select matNativeControl required [(ngModel)]="from">
                        <option value="kolhapur">Kolhapur</option>
                        <option value="pune">Pune</option>
                        <option value="nashik">Nashik</option>
                        <option value="solapur">Solapur</option>
                    </select>
                  </mat-form-field>
                <label  style="color: black;">To</label>
                <mat-form-field appearance="fill">
                    <mat-label>To City</mat-label>
                    <select matNativeControl required [(ngModel)]="to">
                        <option value="kolhapur">Kolhapur</option>
                        <option value="pune">Pune</option>
                        <option value="nashik">Nashik</option>
                        <option value="solapur">Solapur</option>
                    </select>
                  </mat-form-field>
                <label  style="color:black;" >Date</label>
                <input type="date" [(ngModel)]="date"><br>
                <!-- this button is for redirecting to busdetails page -->
                <button mat-raised-button color="accent" style="margin-top: 20px; font-size:20px; color:black; height:50px;
                width : 210px;"  (click)="getdata(); "  >search
                        </button>
            </mat-card-content>
            <mat-card-content> <table class="searchtable">
                <th>Your Trip </th>
                <tr><td>From: {{from}}</td></tr>
                <tr><td >To: {{to}}</td></tr>
                <tr><td>Date: {{date}}</td></tr>
            </table></mat-card-content>
        </mat-card>

            
        
       
    </div>
    <div class=" container parent " >
        <div class="container" *ngIf="ifBusDatailsEntered" style="align-items: left;">
            <app-busdetail-card >
               
            </app-busdetail-card> 
        </div>
       

    </div>
    


</body>

</html>