.green{
    color: green;
}
.red{
    color:gray;
}
.icon{
    color: aliceblue;
}
.rightseats{
    all: right;
}
.bus{
    display: flex;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}