<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button (click)="enableDisableRule(this) ; save(1)" [ngClass]="{ 'red' : toggle1,'green':!toggle1}" value="1"
    id="1"><mat-icon>chair</mat-icon></button>


<button (click)="enableDisableRule(this) ; save(2)" [ngClass]="{ 'red' : toggle,'green':!toggle}" value="1"
    id="2"><mat-icon>chair</mat-icon></button>

<button (click)="enableDisableRule(this) ; save(3)" [ngClass]="{ 'red' : toggle,'green':!toggle}" value="1"
    id="3"><mat-icon>chair</mat-icon></button>

<button (click)="enableDisableRule(this) ; save(4)" [ngClass]="{ 'red' : toggle,'green':!toggle}" value="1"
    id="4"><mat-icon>chair</mat-icon></button>

<button (click)="show()">show</button>
    
</body>
</html>




z
















