<div class="container-fluid " ><mat-card class="buscard">
    <mat-card-content>
            <label for="busname">Shivshahi</label>

        </mat-card-content>

        <mat-card-content>
            <label for="from">From : Pune</label>
            <label for="to"> To : kolhapur</label> 
            <label for="Date"> Date: 20 feb 2023</label>
        </mat-card-content>
        <mat-card-content>
            <label for="time">4:00 pm</label>
        </mat-card-content>
        <mat-card-content>
            <button mat-raised-button color="primary" style="margin-top: 20px;">Select seat</button>
            
        </mat-card-content>

    </mat-card>

    <mat-divider style="margin: 5px;"></mat-divider>

</div>