<mat-card><h2 style="background-color:paleturquoise ; text-align: center;color: rgb(27, 45, 61); margin-top: 10px;">Make a Trip With This Buses </h2></mat-card>
<!-- <div class="container-fluid " *ngFor="let i of  details" style="margin-top: 30px;"> -->
    <div class="container-fluid " *ngFor="let i of  details">

    <div *ngIf="i.from == from && i.to==to" class="container buscard">
      
        <mat-card style="margin-top:10px">
           
            <mat-card-content>
                <label for="busId"><strong>bus no :</strong>{{i.busId}}</label><br>
                <label for="busname"><strong>bus name :</strong>{{i.busName}}</label>

            </mat-card-content>

            <mat-card-content>
                <label for="from"><strong>from :</strong> {{i.from}}</label><br>
                <label for="to"> <strong>To :</strong> {{i.to}}</label>

            </mat-card-content>
            <mat-card-content>
                <label for="time"><strong>time :</strong>{{i.time}}</label>
            </mat-card-content>
           
            
            <mat-card-content>
                <button (click)="getbusid(i.busId, i.time)" mat-raised-button color="warn" style="margin-top: 20px;"><a 
                        style="color:aliceblue" >Select seat</a></button>
            </mat-card-content>
           
        </mat-card>
        
    </div> 
       
</div>


